src/face
src/__pycache__
src/images
src/cropped.jpg
src/test-videos

src/featureExtraction/__pycache__
src/featureExtraction/wav2vec2_checkpoints
src/featureExtraction/vision-env
src/featureExtraction/speech-env
src/featureExtraction/speech_diarization.json
src/featureExtraction/pretrained_models
src/featureExtraction/pretrained_ASR
src/featureExtraction/audio/__pycache__
src/featureExtraction/audio/audio_preprocessing/__pycache__
src/featureExtraction/audio/speechbrain/__pycache__
src/featureExtraction/audio/speechbrain/pretrained_ASR
src/featureExtraction/audio/speechbrain/pretrained_models
src/featureExtraction/audio/speechdiarization/__pycache__
src/featureExtraction/CenterTrack/center-env
src/featureExtraction/CenterTrack/model
src/featureExtraction/CenterTrack/experiments
src/featureExtraction/CenterTrack/LICENSE
src/featureExtraction/CenterTrack/NOTICE
src/featureExtraction/CenterTrack/videos
src/featureExtraction/deep-person-reid
src/featureExtraction/deepspeech/audio
src/featureExtraction/deepspeech/speech-env
src/featureExtraction/vision/delf/delf-env
src/featureExtraction/vision/delf/__pycache__
src/featureExtraction/vision/face_models/__pycache__
src/featureExtraction/vision/places365/*.prototxt
src/featureExtraction/vision/places365/*.jpg
src/featureExtraction/vision/places365/models
src/featureExtraction/vision/places365/__pycache__
src/featureExtraction/vision/places365/places_env
src/featureExtraction/vision/visual_preprocessing/__pycache__
src/featureExtraction/vision/visual_preprocessing/*.pyc
src/featureExtraction/vision/VSGNet/All_data_coco
src/featureExtraction/vision/VSGNet/bestcheckpoint.pth.tar
src/featureExtraction/vision/VSGNet/*.sh


papers

