certifi==2021.10.8
charset-normalizer==2.0.10
filelock==3.4.2
huggingface-hub==0.4.0
HyperPyYAML==1.0.0
idna==3.3
joblib==1.1.0
numpy==1.22.0
packaging==21.3
pyparsing==3.0.6
PyYAML==6.0
requests==2.27.1
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
scipy==1.7.3
sentencepiece==0.1.96
speechbrain==0.5.11
torch==1.10.1
torchaudio==0.10.1
tqdm==4.62.3
typing-extensions==4.0.1
urllib3==1.26.8
